<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Found Item</title>
</head>
<body>
    <h1>Report Found Item</h1>
    <form action="/submitfounditem" method="post">
        <label for="item_name">Item Name:</label>
        <input type="text" id="item_name" name="item_name" required>
        <label for="item_description">Item Description:</label>
        <textarea id="item_description" name="item_description" required></textarea>
        <label for="contact_info">Contact Information:</label>
        <input type="text" id="contact_info" name="contact_info" required>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        


        <button type="submit">Submit</button>
    </form>
    
</body>
</html>





