<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Emerald Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>The Dublin Finder</h1>
            <p>Digital Lost and Found Website</p>
        </div>
        <div class="navigation">
            <a href="/submitfounditem" class="button">Report Found Item</a>
            <a href="/submitlostitem" class="button">Report Lost Item</a>
            <a href="/founditems" class="button">View Found Items</a>
            <a href="/lostitems" class="button">View Lost Items</a>

        </div>
    </div>
</body>
</html>



